.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.05));
  width: 500px;
}

h1 {
  font-weight: 500;
}

input {
  border: 0;
  height: 60px;
  background: #f8f8f8;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
}

button {
  border: 0;
  height: 60px;
  background: linear-gradient(135deg, #222326 0%, #151515 100%);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
}
